@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800i|Roboto+Slab');

/* CSS Simple Reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}  

body {
	font-family: 'Montserrat', Helvetica, sans-serif;
	color: #333333;
	font-size: 16px; /*1em = 16 px*/
	/*margin: 10px; 1em = 20 px*/
	font-weight: 300;
}

img {
	display: block;
	width: 100%;
}

a {
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
	font-weight: 700; 
	text-align: center;
}

nav a:hover {
	color: yellow;
}

header {
	width: 100%;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	padding-bottom: 1.5em;

}


header div {
	position: absolute;
	top: 10%;
	left: 0;
	width: 100%;
	color: white;
	text-align: center;
}



nav {
	position: fixed;
	z-index: 1000;
	top:0;
	left:0;
	width:100%;
	background: black;
	text-align: center; 
	padding: 20px 0 20px;
}
 

h1 {
	font-size: 4em;
	text-align: center;
	padding: 1em;
	font-style: italic;
	display: inline-block;
	color: rgba(250,250,250,.7);
}

h2 {
	padding: 1em;
	color: #333333;
	font-size: 2em; /*1em = 16 px*/
	/*margin: 10px; 1em = 20 px*/
	font-weight: 800;
	/*margin: 1em;*/
    font-style: italic;
}

h3 {
	/*position: absolute;
	top: 25%;
	margin: 10% auto;*/
	color: #000;
	padding: 1em;
}

h5  {
	text-align: center;
	color: #B5B5B5;
	font-size: 1em;
	padding: 1em;
	padding-bottom: 0.3em;
	font-weight: 800;
}

h4 {

	font-size: 1.6em;
	padding-bottom: 0.1em;
	/*transform: translateY(-10%);*/

}

p {
	font-size: 0.9em;
	line-height: 1.2em;
	padding: 0.5em;
	font-weight: normal;	
}

footer {

/*	top:0;
	left:0;*/
	width:100%;
	min-height:2em;
	background: black;
	text-align: center;

}

label {
	z-index: 1000;
	position: fixed;
	width:100%;
	height: 50px;
	top:0;
	left:0;
	background: black;
	text-align: left; 
	padding: 1.5em 1em 1em;
	letter-spacing: 0.2em;
	display: block;
	float: left;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-weight: 700; 
	display: none;

}



.clear:after {
	content: "";
	display: block;
	clear: both;
}

.main {
	position: relative;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	padding: 0 20px 0 20px;
}


.main_image {
	width: 100%;
	padding-top: 0.8em;
}

.main_introduction {
	position: absolute;
	top: 25%;
	left: 0;
	right:0;
	margin: 0 auto;
	width: 40%;
	color: #000;
	text-align: center;
	background: rgba(250,250,250,.7);
}


.main_introduction a {
	/*padding: 1em;*/
	/*margin: 0 auto;*/
	margin: 1em;
	display: block;

}



.bucket {
	position: relative;
	/* changed padding from 10px to 0.8em*/
	padding: 0.8em;
	width: 33.3333%;
	float: left;
	display: block;

}



.bucket_parent {
	width: 98.8%;
	margin: 0 auto;
}

.bucket_description {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    right:0;
    margin: 0 auto;
    background: rgba(255, 255, 255, .8);
    padding: .5em;
    background-position: 0px 0px;
    width: 70%;
}


.bucket .date_info {
	position: absolute;
	top: 0px;
	left: 0px;
	background: rgba(255, 255, 255, .8);
	padding: 2em;
	margin-left: 0px;
	background-position: 0px 0px;
} 

.bucket .yellow {
	position: absolute;
	left: 0;
	bottom: 0;
	color: yellow;
    transform: translateY(-20%);    
    padding: 2em;
    text-align: left;
}


.bucket p {
	font-family: 'Roboto Slab', Georgia, serif;
	text-transform: none;
	text-align: center;
	color: #000;

}

.date {
	text-transform: uppercase;
	color:black;
	text-align: left;
}

.yellow {
	
	color: #ffcd00;
	font-family: 'Roboto Slab', Georgia, serif;
	padding: 1em;

}


.navlinks {
	padding: 1em;

}

.navlinks a {
	color: white;
	letter-spacing: 0.2em;
	display: block;
	width: 25%;
	float: left;

}


.icon_parent {
	width: 100%;
	/*changed padding from 10px to 0.8em*/
	padding: 0.8em;
	margin: 0 auto;
}

.icon_parent p {
	display: block;
	text-overflow: none;
	text-align: center;
	}

.icon {
	display:inline-block;
	width: 37px; 
	position: relative;
	margin: 0 auto;

}


#wrapper {
	width: 100%	;
	margin-left: auto;
	margin-right: auto;
}


#toggle {

	display: none;
}

.mobile {
	display: none;
}


@media only screen and (min-width: 1300px) {

	body {
		font-size: 20px;
	}

}


@media only screen and (max-width: 875px) {

	body {

		font-size: 14px;
	}


	.navlinks a {
		letter-spacing: 0.1em;
		padding: 0.1em 0.1em 0.1em 0.1em;

	}

	.main_introduction {
    	width: 50%;
    }


}

@media only screen and (max-width: 700px) {

	body {
		font-size: 15px;
	}

	h1 {
		font-size: 3.8em;
		padding: 0.4em;
		transform: translateY(10%);
	}


	h2 { 
		padding: 0.8em; 
	}


	h4 {
		font-size: 1.2em;
	}

	nav {
		display: none;
	}

	header {
		padding: 0;
	}


    label {
		display: block;
	}

	p {
		font-size: 1.1em;	
	}

	.main_introduction {
    	width: 60%;
    }

	#toggle:checked + nav{
		display: block;
		top: 49px;
	}

	.navlinks a {
    	width: 100%;
    	text-align: left;
    	padding: 2em 2em 2em 0; 

	}

	.mobile {
		display: block;
	}

	.bucket {
		width: 100%;
		height: 200px;
		overflow: hidden;
		margin-bottom: 1em;
	}


	.desktop {
		display: none;
	}

	.main {
		padding: 0.9em;
	}

	.bucket_description {
    	transform: translateY(-50%);
    	padding: 0.8em;
    	background-position: 0px 0px;
    	width: 60%;
    	height: 90px;
    }

  	.bucket.date {
		height: 90px;
	}


	.images_goaway {
 		display: block;
 		background: #50E3C2;
    	width: 100%;
    	height: 90px;
    }

    .bucket .date_info {
		width: 50%;
		height: 90px;
		top: initial;
    	left: initial;

	}

	.bucket .yellow {
     	width: 50%;
    	left: 50%;
    	top: 21%;
    	color: black;
	}

}	

@media only screen and (max-width: 648px) {

	h2 { 
		padding: 0.6em; 
	}

	h5 {
		padding: 0.5em;
	}

	#mobile_padding {
    	padding-top: 1em;
    }

}


@media only screen and (max-width: 625px) {

	h1 {
		font-size: 3.8em;
		transform: translateY(7%);
	}

	h2 { 
		padding: 0.4em; 
	}

	.main_introduction {
    	width: 75%;
    }
}

@media only screen and (max-width: 586px) {

	body {
		font-size: 12px;
	}

	h1 {
		padding: 0.7em;
		font-size: 3.6em;
	}

	h2 { 
		font-size: 1.7em; 
	}

	p {
	font-size: 1.2em;
	line-height: 1em;
	padding: 0.4em;
	}

	.main_introduction {
    	width: 75%;
    }


}


@media only screen and (max-width: 510px) {

	h1 {
		font-size: 3.0em;
	}
}


@media only screen and (max-width: 432px) {

	h1 {
		padding: 2em;
		font-size: 2.0em;
	}
}


@media only screen and (max-width: 375px) {

	h1 {
		padding: 1.6em;
		font-size: 2.0em;
	}

	h2 {
		padding: 0.5em; 
		font-size: 1.5em; 

	}

    .main_introduction a {
		margin: 0.8em;
	}

}

@media only screen and (max-width: 320px) {

	h1 {
		padding: 1.8em;
		font-size: 1.7em;
	}

	h2 {
		padding: 0.4em; 
		font-size: 1.2em; 

	}

	h5 {
		padding: 0.1em;
	}

	image {
		padding-bottom: 1em;
	}

	.main_image {
	    padding-top: 0.3em;
	}

	.bucket {
		height: 100px;
	}

	.bucket_description {
    	width: 80%;
    	height: 50px;
    }

	.bucket_description p {
		display: none;

    }


}











