* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Montserrat', Helvetica, sans-serif;
	color: #333333;
}

header {
	width: 100%;
	max-width: 1024px;
	position: relative;
	overflow: hidden;
	margin: 0 auto 
}

header div {
	position: absolute;
	top: 10%;
	left: 0;
	width: 100%;
	color: white;
	text-align: center;
}

header img {

	display: block;
	width: 100%;
}

#slogan {
	font-style: italic;
}

nav {
	position: fixed;
	top:0;
	left:0;
	width:100%;
	min-height:50px;
	background: black;
	text-align: center; 
	padding-top: 20px;

}

/*nav a {
	color: #ffffff;
  	margin-left: auto; 
  	margin-right: auto;

}*/


ul, ol {
	margin-left: 20px;
	padding: 20px;
}

ul {
    text-align: center;
    list-style-type: none;
}

h5, h2 {
	margin: 20px; 
	text-transform: uppercase; 
}

h5  {
	color: #B5B5B5;
	font-size: 10px;
}

p {
	margin: 20px;
}


a {
	margin: 20px;
	text-decoration: none;
	color: #B8E986;
	text-transform: uppercase;
	font-weight: 700; 
}

footer {
	padding: 20px;
	margin: 20px;
	text-align: center;
	color: #cccccc; 
}